.home
{
    margin-top: 50px;
    text-align: center;
    align-content: center;
    align-self: center;
}
form { 
    margin: 0 auto; 
    width: 250px;
}

input, button
{
    margin-top: 50px;
}
h1
{
    padding-top: 70px;
}